.burger {
  z-index: 3;
  position: fixed;
  transition: all ease-in-out 0.5s;
}
.burger__container {
  transition: all ease-in-out 0.5s;
  width: 100%;
  transform: translateX(100%);
  height: 100vh;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 64px 12px;
  background: linear-gradient(to right, rgb(131, 58, 180), rgb(253, 29, 29), rgb(252, 176, 69));
  background-size: 400% 100vh;
  animation: animatedBg 5s infinite ease-in-out;
}
@keyframes animatedBg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.burger.show .burger__container {
  opacity: 1;
  transform: translateX(0);
  pointer-events: initial;
  transition: all ease-in-out 0.5s;
}
.burger__item a {
  color: cornsilk;
  font-size: 2rem;
  text-align: center;
  display: block;
  padding: 15px 0;
  margin: 10px;
  background-color: rgba(240, 240, 240, 0.2);
}
.burger__item a:hover, .burger__item a:active, .burger__item a:focus {
  color: brown;
}
.burger.show {
  top: 0;
}
.burger__list-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger__list-menu {
    display: block;
    height: 65vh;
  }
}
.burger__list-menu li {
  margin: 5px 0;
}

.menu__btn {
  z-index: 23;
  position: absolute;
  right: 15px;
  top: 22px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__btn {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .menu__btn {
    right: 12px;
    top: 22px;
  }
}
.menu__btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cornsilk;
  transition: all ease-in-out 0.5s;
}
.menu__btn span:nth-of-type(2) {
  top: calc(50% - 8px);
}
.menu__btn span:nth-of-type(3) {
  top: calc(50% + 8px);
}
.menu__btn.active span:nth-of-type(1) {
  display: none;
}
.menu__btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  background-color: cornsilk;
}
.menu__btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  background-color: cornsilk;
}