* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

html a, html a:visited {
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body ul, body li {
  margin: 0;
  padding: 0;
}

body img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main {
  padding: 40px 0;
  background-color: #ffffff;
  flex: 0 1 auto;
}
.main__gallery {
  display: flex;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.main__gallery-item {
  align-items: center;
  justify-content: center;
  width: 31.333%;
  height: 350px;
  position: relative;
  box-shadow: 1px 1px 10px black;
}
@media screen and (max-width: 900px) {
  .main__gallery-item {
    width: 47.333%;
  }
}
@media screen and (max-width: 600px) {
  .main__gallery-item {
    width: 100%;
  }
}
.main__gallery-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}
.main__gallery-item-img:hover {
  overflow-y: auto;
  transition: all ease-in-out 0.5s;
}
.main__gallery-item-img img {
  width: 100%;
  height: auto;
}
.main__gallery-item-img img:hover {
  transition: all ease-in-out 0.5s;
  transform: scale3d(0.9, 0.9, 0.3) translateY(-5%);
  perspective: -1;
  cursor: grabbing;
}
.main__gallery-textBlock {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(3, 3, 3, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px 10px;
  transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 768px) {
  .main__gallery-textBlock {
    background-color: rgba(3, 3, 3, 0.7);
    border-top-right-radius: 65%;
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .main__gallery-textBlock:hover {
    transition: all ease-in-out 0.5s;
    background-color: rgba(3, 3, 3, 0.7);
    border-top-right-radius: 65%;
    height: 200px;
  }
  .main__gallery-textBlock:hover h3.main__gallery-textBlock-label {
    transition: all ease-in-out 0.5s;
    display: block;
    color: cornsilk;
    margin-bottom: 20px;
  }
  .main__gallery-textBlock:hover p.main__gallery-textBlock-info {
    transition: all ease-in-out 0.5s;
    display: block;
    color: cornsilk;
    margin-bottom: 15px;
  }
}
.main__gallery-textBlock-label, .main__gallery-textBlock-info {
  display: none;
  max-width: 160px;
  overflow: hidden;
  transition: all ease-in-out 0.5s;
}
@media screen and (max-width: 768px) {
  .main__gallery-textBlock-label, .main__gallery-textBlock-info {
    display: block;
    color: cornsilk;
  }
}
@media screen and (max-width: 768px) {
  .main__gallery-textBlock-label {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .main__gallery-textBlock-info {
    margin-bottom: 15px;
  }
}
.main__gallery-textBlock-button {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.9);
  display: block;
  border-radius: 10px;
  color: #ffffff;
}
.main__gallery-textBlock-button:hover {
  background: linear-gradient(to right, rgb(131, 58, 180), rgb(253, 29, 29), rgb(252, 176, 69));
  background-size: 400% 100vh;
  animation: animatedBg 5s infinite ease-in-out;
}
@keyframes animatedBg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.main__education-block {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.main__education-title {
  text-align: left;
  font: 600 normal 2rem/3rem "Times New Roman", sans-serif;
  margin-bottom: 30px;
  color: indianred;
  border-bottom: 3px double rgba(251, 63, 76, 0.2);
  letter-spacing: 5px;
}
.main__education-item {
  width: 33.333%;
  position: relative;
  box-shadow: 1px 1px 10px black;
}
@media screen and (max-width: 900px) {
  .main__education-item {
    width: 47.333%;
  }
}
@media screen and (max-width: 600px) {
  .main__education-item {
    width: 100%;
  }
}
.main__education-item.experience img {
  max-height: 793px;
}
.main__education-item-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(3, 3, 3, 0.3);
  padding: 10px;
}
.main__education-item img {
  width: 100%;
  height: auto;
}
.main__education-item-button {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.9);
  display: block;
  border-radius: 10px;
  color: #ffffff;
  width: fit-content;
  cursor: pointer;
}
.main__education-item-button:hover {
  background: linear-gradient(to right, rgb(131, 58, 180), rgb(253, 29, 29), rgb(252, 176, 69));
  background-size: 400% 100vh;
  animation: animatedBg 5s infinite ease-in-out;
}
@keyframes animatedBg {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.main__education-item.diploma {
  box-shadow: none;
}
.main__education-item.diploma .front {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 1s ease-in-out 0s;
}
.main__education-item.diploma .front:hover {
  transition: all 1s ease-in-out 0s;
  opacity: 0;
}
.main__education-item.diploma .back {
  transform: scaleY(1);
}
.main__resume {
  font: normal 1.2rem/1.5rem "Times New Roman", sans-serif;
  max-width: 60%;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .main__resume {
    max-width: 100%;
  }
}
.main__resume-label {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-style: italic;
  margin-bottom: 10px;
  background-color: #fb3f4c;
  background-image: linear-gradient(74deg, rgb(251, 63, 76) 0%, rgb(252, 73, 251) 53%, rgb(252, 201, 70) 100%);
  background: -moz-linear-gradient(74deg, rgb(251, 63, 76) 0%, rgb(252, 73, 251) 53%, rgb(252, 201, 70) 100%);
  background: -webkit-linear-gradient(74deg, rgb(251, 63, 76) 0%, rgb(252, 73, 251) 53%, rgb(252, 201, 70) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb3f4c",endColorstr="#fcc946",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main__resume ul, .main__resume .qualities, .main__resume .experience {
  margin-bottom: 20px;
}
.main__resume ul li > a, .main__resume .qualities li > a, .main__resume .experience li > a {
  color: #833ab4;
  transition: all 0.5s ease-in-out 0s;
}
.main__resume ul li > a:hover, .main__resume .qualities li > a:hover, .main__resume .experience li > a:hover {
  color: brown;
  text-decoration: underline;
  transition: all 0.5s ease-in-out 0s;
}
.main__resume .qualities li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 10px;
}
.main__resume .purpose {
  margin-bottom: 20px;
}